*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
    margin: 100px;
}
/* header and nav styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 130px;
}
.nav-style{
 
    font-size: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
   color: #FFFFFF;
   font-weight: 70;
   font-size: 20;
   border: 0;
   padding: 5px 40px;
   height: 64px;
   border-radius: 5px;
   background-color: #FD6E0A;
}
/* banner-style */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;

}
.banner-title{
font-weight: 700;
font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 20px;
    margin-bottom: 30px;

}
/* main sectiona*/
main{
    max-width: 1140px;
    margin: o auto;
}
/* section-about-style */
.about{
margin: 130px;
background-color: #c4a088;
border-radius: 10;
padding: 130px 150px;
text-align: center;
margin-bottom: 20px;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;

margin-bottom: 30px;


}
.about-description{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
/* what i do */
.what-i-do{
    margin: 130px;

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px rgba(212, 41, 41, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}